<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <title>Epic Website</title>

</head>
<body>
    <header style="font-size:50px">This site is a guide to the Electro Dragon in Clash of Clans</header>

    <div>
        @RenderBody()
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/js/site.js"></script>
</body>
</html>
<br />
<br />
<br />
<br />
<br />
<footer>2024 Epic Website. All Rights Reserved. Grant Murdock built this page. He is a Junior at BYU. This is such a sick website</footer>
