@{
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
        <meta charset="utf-8" />
        <link href="css/site.css" rel="stylesheet" />
        <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <br />
    <img src="~/img/electrodrag.jpeg" />
    <img src="~/img/townhall11.jpeg" />
    <br />
    <h4>The Electro Dragon in Clash of Clans is a formidable flying troop armed with electric attacks. Resembling a dragon with metallic blue scales and bat-like wings, 
        it unlocks at Town Hall 11. Its chain lightning ability damages multiple buildings simultaneously, making it effective against clustered defenses. While requiring 
        significant resources to train and upgrade, it's a crucial asset in aerial assault strategies. However, it's vulnerable to air-seeking defenses, but its electrifying 
        attacks can devastate enemy bases.</h4>
    <br />
    <br />
    <br />
    <h4>
        One potent attack strategy in Clash of Clans revolves around leveraging the formidable power of Electro Dragons. Deploying these aerial juggernauts in conjunction 
        with supporting troops such as Balloons and Rage Spells can create devastating results. The Electro Dragons are best utilized to target key defensive structures, 
        particularly air defenses, with their chain lightning ability wreaking havoc on surrounding buildings. Additionally, using spells like Freeze and Clone strategically 
        can further enhance their effectiveness. Timing and placement are crucial in this strategy, ensuring the Electro Dragons are protected while they dismantle the opponent's defenses. With proper execution, this attack strategy can overwhelm enemy bases and secure victory in battles.
    </h4>
    <br />
<!--This takes you to the Privacy.cshtml page-->
    @* Index.cshtml *@
    @{
        ViewBag.Title = "Index Page";
    }
    @* Link to Privacy Page *@
    @Html.ActionLink("Go to Privacy Page", "Privacy", "Home")
</body>
</html>
